.header {
    padding: 0px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    height: 64px;
    margin: auto;
    .logo {
        .title {
            margin-right: 10px;
            color: white;
        }
    }
    a {
        color: rgba(white, 0.5);
        text-decoration: none;
        transition: all 300ms $easeInOutCubic;
        &:hover {
            color: white;
        }
    }
    .header-logo-image{
        height: 42px;
        margin-top: -5px;
        margin-right: 10px;
        vertical-align: middle;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .header {
        justify-content: center;
        .header-logo-image{
            height: 42px;
            margin-top: -5px;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
    .share {
        display: none;
    }
}

.header-bg {
    background: $header-color;
    height: 64px;
    line-height: 64px;
    box-shadow: 0px 4px 8px rgba(black,0.1);
}