$checkbox-size:36px;
$checkbox-color:$basecolor-success;
$checkbox-radius:$checkbox-size;
.checkboxcomponent{

    width:$checkbox-size;
    height:$checkbox-size;
    border-radius: $checkbox-radius;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    label {
        position: absolute;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        padding:0;
        margin:0;
        width:$checkbox-size;
        height:$checkbox-size;
        background:#fff;
        border-radius:$checkbox-radius;
        box-sizing: border-box;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        transform: scale(1);
        // transform:translate3d(0,0,0);
        // transform: translate3d(0,0,0);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        -webkit-transition: all 250ms cubic-bezier(0.475, 0.025, 0.395, 1);
        -webkit-transition: all 250ms cubic-bezier(0.475, 0.025, 0.395, 1.505);
        -moz-transition: all 250ms cubic-bezier(0.475, 0.025, 0.395, 1.505);
        -o-transition: all 250ms cubic-bezier(0.475, 0.025, 0.395, 1.505);
        transition: all 250ms cubic-bezier(0.475, 0.025, 0.395, 1.505);
        &:before{
            content:"";
            position: absolute;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            padding:0;
            margin:0;
            width:$checkbox-size;
            height:$checkbox-size;
            border-radius:$checkbox-radius;
            border:calc(#{$checkbox-size}/9) solid $checkbox-color;
            background:#fff;
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transition: background 250ms cubic-bezier(0.475, 0.025, 0.395, 1);
            -webkit-transition: background 250ms cubic-bezier(0.475, 0.025, 0.395, 1.505);
            -moz-transition: background 250ms cubic-bezier(0.475, 0.025, 0.395, 1.505);
            -o-transition: background 250ms cubic-bezier(0.475, 0.025, 0.395, 1.505);
            transition: background 250ms cubic-bezier(0.475, 0.025, 0.395, 1.505);
        }
        &:after{
            content:"";
            position: absolute;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            padding:0;
            margin:0;
            width:$checkbox-size;
            height:$checkbox-size;
            border-radius:$checkbox-radius;
            opacity: 0;
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transition: opacity 250ms cubic-bezier(0.475, 0.025, 0.395, 1);
            -webkit-transition: opacity 250ms cubic-bezier(0.475, 0.025, 0.395, 1.505);
            -moz-transition: opacity 250ms cubic-bezier(0.475, 0.025, 0.395, 1.505);
            -o-transition: opacity 250ms cubic-bezier(0.475, 0.025, 0.395, 1.505);
            transition: opacity 250ms cubic-bezier(0.475, 0.025, 0.395, 1.505);
        }
        &:hover{
            // transform: scale(1.5);
        }
        
    }
    input[type=checkbox] {
        position: absolute;
        z-index: -1;
        padding: 0;
        margin: 0;
        width:$checkbox-size;
        height:$checkbox-size;
        display: none;
        &:checked + label {
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            transform: scale(1.2);
        }
        &:checked + label:before{
            content:"";
            position: absolute;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            padding:0;
            margin:0;
            width:$checkbox-size;
            height:$checkbox-size;
            border-radius:$checkbox-radius;
            background:$checkbox-color;
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
        }
        &:checked + label:after {
            content: "";
            position: absolute;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            padding: 0;
            margin: 0;
            width: calc(#{$checkbox-size} / 2 );
            height: calc(#{$checkbox-size} / 2.8);
            transform: rotateZ(-45deg);
            border-radius: 0;
            border-left: 3px solid #fff;
            border-bottom: 3px solid #fff;
            left: calc(#{$checkbox-size} / 2 - #{$checkbox-size}/2/2);
            top: calc(#{$checkbox-size} / 2 - #{$checkbox-size}/2.8/1.4);
            opacity: 1;
        }
    }    
}

@media only screen and (max-width :755px) {

}
@media only screen and (max-width :575px) {

}
@media only screen and (max-width :412px) {

}
@media only screen and (max-width :320px) {
    // $checkbox-size:12px
}