$lightblue-color:#9cbbfa;
// $blue-color:#3578ff;
$blue-color:#7994d4;
$header-color:#2d3761;
// $header-color:#405087;
$primary-color:$blue-color;

$easeInOutCubic:cubic-bezier(0.645, 0.045, 0.355, 1.000);