@import "./hsb";
$pink-h:326.14;
$pink-s:67.96;
$pink-b:80.78;
$pink-color:hsb($pink-h, $pink-s, $pink-b);
$lightpink-color:#DB7282;
$blue-color:#7994d4;
$header-color:white;
// $header-color:#405087;
// $primary-color:$blue-color;

$primary-color:$pink-color;

$grey1:#ffffff;
$grey2:#fafafa;
$grey3:#f5f5f5;
$grey4:#e8e8e8;
$grey5:#d9d9d9;
$grey6:#bfbfbf;
$grey7:#8c8c8c;
$grey8:#595959;
$grey9:#262626;
$grey10:#000000;

//text colors
$title:rgba(black,0.85);
$primary-text:rgba(black,0.65);
$secondary-text:rgba(black,0.45);
$disabled-text:rgba(black,0.25);

$border:rgba(black,0.15);

$borderRadius:3px;
$boxShadow:0px 4px 8px rgba(black,0.1);
$easeInOutCubic:cubic-bezier(0.645, 0.045, 0.355, 1.000);


a {
    color:#ff85c0;
    transition: color 200ms $easeInOutCubic;
    text-decoration: none;
    &:hover{
        color:#eb2f96;
    }
}
