$basecolor-blue:#0d86ff;
$basecolor-black:#1b1b19;
$basecolor-background:#f5f6f9;
$basecolor-light:#fbfdfc;
$basecolor-danger:#F74361;
$basecolor-warning:#FB9953;
$basecolor-success:#2BE04D;

.bg-basecolor-blue{
    background:$basecolor-blue;
}