.dropzone{
    width:100%;
    height:100%;
    position: absolute;
}
.dndzone_bg{
    width:calc(100%);
    height:calc(100%);
    position: fixed;
    z-index: 5;
    background:rgba(#fff,0.75);
    padding:20px;
    box-sizing:border-box;
}

.dndzone_bg.active {
    display: block;
}
.dndzone_bg.hidden {
    display: none;
}

.dndzone{
    width:calc(100% - 40px);
    height:calc(100% - 40px);
    position: fixed;
    z-index: 5;
    border-radius:15px;
    box-sizing:border-box;
    border: 3px dashed rgba($basecolor-black,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dndzone.over{
    
}