
.header{
    background:#fff;
    height:70px;
    button{
        background:transparent;
        border:0;
        outline:0;
    }
    button:focus{
        outline:0;
    }
    .brandlogo{
        width:auto;
        color:$basecolor-blue;
    }
    .brandlogo:hover{
        color:$basecolor-blue;
        text-decoration: none;
    }
    .brandlogo:focus{
        color:$basecolor-blue;
        text-decoration: none;
    }
    .brandlogo:active{
        color:$basecolor-blue;
        text-decoration: none;
    }
    .header-menu{
        display: flex;
        align-items: center;
        .header-item:first-child{
            margin-right:14px;
        }
    }
    .upload {
        padding:7px 21px;
        cursor: pointer;
        color:$basecolor-blue;
        letter-spacing: 1px;
        font-size:10pt;
        border-radius:100px;
        border:1px solid rgba($basecolor-blue,0.5);
    }
    .upload:hover{
        color:#fff;
        background:$basecolor-blue;
    }
    .upload:first-child{
        margin-right:5px;
    }
    .admin{
        display: flex;
        justify-content: center;
        align-items: center;
        height:70px;
        color:$basecolor-black;
        font-size:10pt;
        font-weight: bold;
        text-decoration: underline;
        padding:14px 0px;
        cursor: pointer;
        box-sizing: border-box;

    }
}

@media only screen and (max-width :575px) {
    .header{
        height:auto;
        .header-menu{
            align-items: unset;
            .header-item:first-child{
                margin-right:0;
            }
        }
        .upload{
            margin:14px 5px;
        }
        .upload:first-child{
            margin:14px 5px;
            margin-bottom:5px;
        }
        .admin{
            width:100%;
            height:auto;
        }
    }
}