@import './default';
@import './layout';
@import './components/header';
@import './components/tag';
@import './components/button';
@import './main/upload';
@import './main/torrentList';
@import './share/card';

html,
body {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
}

#app {
    width: 100%;
    height: 100%;
}

.dropzone {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dropzone.small{
    width:auto;
    height:auto;
}