.login{
    display: flex;
    width:100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    .loginform{
        max-width:360px;
        width:100%;
        height: auto;
        background:#fff;
        padding:20px;
        box-shadow:0 10px 50px rgba(#000,0.15);
        h5{
            text-align: center;
        }
    }
}