@import "./defaultcolor";
@import "./login";
@import "./header";
@import "./popover";
@import "./dropzone";
@import "./content";
@import "./file";
@import "./checkbox";

html,body{
    margin:0;
    padding:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:$basecolor-background;
    color:$basecolor-black;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    // backface-visibility:visible;
}
img{
    // -webkit-perspective: 1000;
    // -webkit-backface-visibility: visible;
    // backface-visibility:hidden;
}

.app-layout{
    position: absolute;
    width:100%;
    height:100%;
}
.app-innerlayout{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
}